<footer class="footer bg-dark text-white">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col">
        <a href="/contact" class="btn btn-outline-light">
            <span class="fas fa-envelope"></span>
            Me contacter
            <!-- <span class="sr-only">Contact</span> -->
        </a>
        
      </div>
      <!-- <div class="col-lg-4 col-9 text-right d-flex justify-content-between">
        <span>Retrouvez-moi sur :</span>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/madeleinebourdon">
              <span class="fab fa-github-alt"></span>
              <span class="sr-only">GitHub</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/madeleinebourdon/">
              <span class="fab fa-linkedin"></span>
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/mbourdon_">
              <span class="fab fa-twitter"></span>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
        </ul>
      </div> -->
      <div class="col-lg-4 col-9 text-right d-flex flex-column justify-content-between">
        <span>Vous pouvez me retrouver ici :</span>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/madeleinebourdon/">
              LinkedIn
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/mbourdon_">
              Twitter
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/madeleinebourdon">
              GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>