<!-- <div class="darker-container"> -->
<div class="container padding">

  <a id="skills" class="anchor">
    <h2>Compétences</h2>
  </a>
  <p class="moduleDescription">
    Ici, vous trouverez toutes les technologies que j'ai déjà vues, aussi bien au travail ou en formation que de mon temps libre.
  </p>
  <div class="row cardContainer">
    <div class="col-lg-6 px-0">
      <div class="card">
        <h3>Front</h3>
        <ul>
          <li>HTML 5</li>
          <li>CSS 3 / SASS</li>
          <li>JavaScript / jQuery</li>
          <li>Bootstrap</li>
          <li>FontAwesome</li>
          <li>Swiper</li>
          <li>Chart.JS</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 px-0">
      <div class="card">
        <h3>Back</h3>
        <ul>
          <li>PHP</li>
          <li>SQL / MySQL</li>
          <li>PHPMyAdmin</li>
          <li>Développement WordPress</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 px-0">
      <div class="card">
        <h3>Frameworks</h3>
        <ul>
          <li>Angular</li>
          <li>Ionic</li>
          <li>Symfony</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 px-0">
      <div class="card">
        <h3>Autres</h3>
        <ul>
          <li>Git</li>
          <li>GitFlow</li>
          <li>Photoshop</li>
          <li>Avocode</li>
        </ul>
      </div>
    </div>


    <!-- <div class="row">
    <div class="col">
      <h4>HTML 5</h4>
      <canvas id="htmlChart" class="skillChart"></canvas>
      <span class="htmlLegend chartLegend">85%</span>
    </div>
    <div class="col">
      <h4>CSS 3 / SASS</h4>
      <canvas id="cssChart" class="skillChart"></canvas>
      <span class="cssLegend chartLegend">85%</span>
    </div>
    <div class="col">
      <h4>JavaScript / jQuery</h4>
      <canvas id="jsChart" class="skillChart"></canvas>
      <span class="jsLegend chartLegend">45%</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Bootstrap</h4>
      <canvas id="bootstrapChart" class="smallSkillChart"></canvas>
      <span class="bootstrapLegend chartLegend">65%</span>
    </div>
    <div class="col">
      <h4>FontAwesome</h4>
      <canvas id="faChart" class="smallSkillChart"></canvas>
      <span class="faLegend chartLegend">75%</span>
    </div>
    <div class="col">
      <h4>Swiper</h4>
      <canvas id="swiperChart" class="smallSkillChart"></canvas>
      <span class="swiperLegend chartLegend">40%</span>
    </div>
    <div class="col">
      <h4>Chart.js</h4>
      <canvas id="chartjsChart" class="smallSkillChart"></canvas>
      <span class="chartjsLegend chartLegend">20%</span>
    </div>
  </div> -->
    <!-- swiper -->
    <!-- <div class="swiper-container-skill">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h3>Front</h3>
        <div class="row">
          <div class="col">
            <h4>HTML 5</h4>
            <canvas id="htmlChart" class="skillChart"></canvas>
            <span class="htmlLegend chartLegend">85%</span>
          </div>
          <div class="col">
            <h4>CSS 3 / SASS</h4>
            <canvas id="cssChart" class="skillChart"></canvas>
            <span class="cssLegend chartLegend">85%</span>
          </div>
          <div class="col">
            <h4>JavaScript / jQuery</h4>
            <canvas id="jsChart" class="skillChart"></canvas>
            <span class="jsLegend chartLegend">45%</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Bootstrap</h4>
            <canvas id="bootstrapChart" class="smallSkillChart"></canvas>
            <span class="bootstrapLegend chartLegend">65%</span>
          </div>
          <div class="col">
            <h4>FontAwesome</h4>
            <canvas id="faChart" class="smallSkillChart"></canvas>
            <span class="faLegend chartLegend">75%</span>
          </div>
          <div class="col">
            <h4>Swiper</h4>
            <canvas id="swiperChart" class="smallSkillChart"></canvas>
            <span class="swiperLegend chartLegend">40%</span>
          </div>
          <div class="col">
            <h4>Chart.js</h4>
            <canvas id="chartjsChart" class="smallSkillChart"></canvas>
            <span class="chartjsLegend chartLegend">20%</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <h3>Back</h3>
        <div class="row">
          <div class="col">
            <h4>PHP</h4>
            <canvas id="phpChart" class="skillChart"></canvas>
            <span class="phpLegend chartLegend">55%</span>
          </div>
          <div class="col">
            <h4>SQL / MySQL</h4>
            <canvas id="sqlChart" class="skillChart"></canvas>
            <span class="sqlLegend chartLegend">30%</span>
          </div>
          <div class="col">
            <h4>PHPMyAdmin</h4>
            <canvas id="phpmaChart" class="skillChart"></canvas>
            <span class="phpmaLegend chartLegend">40%</span>
          </div>
          <div class="col">
            <h4>WordPress</h4>
            <canvas id="wordpressChart" class="skillChart"></canvas>
            <span class="wordpressLegend chartLegend">30%</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <h3>Frameworks</h3>
        <div class="row">
          <div class="col">
            <h4>Angular</h4>
            <canvas id="angularChart" class="skillChart"></canvas>
            <span class="angularLegend chartLegend">35%</span>
          </div>
          <div class="col">
            <h4>Ionic</h4>
            <canvas id="ionicChart" class="skillChart"></canvas>
            <span class="ionicLegend chartLegend">40%</span>
          </div>
          <div class="col">
            <h4>Symfony</h4>
            <canvas id="symfonyChart" class="skillChart"></canvas>
            <span class="symfonyLegend chartLegend">40%</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <h3>Autres</h3>
        <div class="row">
          <div class="col">
            <h4>Git + gitflow</h4>
            <canvas id="gitChart" class="skillChart"></canvas>
            <span class="gitLegend chartLegend">70%</span>
          </div>
          <div class="col">
            <h4>Photoshop</h4>
            <canvas id="photoshopChart" class="skillChart"></canvas>
            <span class="photoshopLegend chartLegend">45%</span>
          </div>
          <div class="col">
              <h4>Avocode</h4>
              <canvas id="avocodeChart" class="skillChart"></canvas>
              <span class="avocodeLegend chartLegend">40%</span>
            </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div> -->
    <!-- 
  <div class="accordion" id="skillAccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h4 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Front-End
          </button>
        </h4>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#skillAccordion">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>HTML 5</h5>
              <canvas id="htmlChart" class="skillChart"></canvas>
              <span class="htmlLegend chartLegend">85%</span>
            </div>
            <div class="col">
              <h5>CSS 3 / SASS</h5>
              <canvas id="cssChart" class="skillChart"></canvas>
              <span class="cssLegend chartLegend">85%</span>
            </div>
            <div class="col">
              <h5>JavaScript / jQuery</h5>
              <canvas id="jsChart" class="skillChart"></canvas>
              <span class="jsLegend chartLegend">45%</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>Bootstrap</h5>
              <canvas id="bootstrapChart" class="smallSkillChart"></canvas>
              <span class="bootstrapLegend chartLegend">65%</span>
            </div>
            <div class="col">
              <h5>FontAwesome</h5>
              <canvas id="faChart" class="smallSkillChart"></canvas>
              <span class="faLegend chartLegend">75%</span>
            </div>
            <div class="col">
              <h5>Swiper</h5>
              <canvas id="swiperChart" class="smallSkillChart"></canvas>
              <span class="swiperLegend chartLegend">40%</span>
            </div>
            <div class="col">
              <h5>Chart.js</h5>
              <canvas id="chartjsChart" class="smallSkillChart"></canvas>
              <span class="chartjsLegend chartLegend">20%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h4 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            Back-End
          </button>
        </h4>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#skillAccordion">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>PHP</h5>
              <canvas id="phpChart" class="skillChart"></canvas>
              <span class="phpLegend chartLegend">55%</span>
            </div>
            <div class="col">
              <h5>SQL / MySQL</h5>
              <canvas id="sqlChart" class="skillChart"></canvas>
              <span class="sqlLegend chartLegend">30%</span>
            </div>
            <div class="col">
              <h5>PHPMyAdmin</h5>
              <canvas id="phpmaChart" class="skillChart"></canvas>
              <span class="phpmaLegend chartLegend">40%</span>
            </div>
            <div class="col">
              <h5>WordPress</h5>
              <canvas id="wordpressChart" class="skillChart"></canvas>
              <span class="wordpressLegend chartLegend">30%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h4 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Frameworks
          </button>
        </h4>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#skillAccordion">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>Angular</h5>
              <canvas id="angularChart" class="skillChart"></canvas>
              <span class="angularLegend chartLegend">35%</span>
            </div>
            <div class="col">
              <h5>Ionic</h5>
              <canvas id="ionicChart" class="skillChart"></canvas>
              <span class="ionicLegend chartLegend">40%</span>
            </div>
            <div class="col">
              <h5>Symfony</h5>
              <canvas id="symfonyChart" class="skillChart"></canvas>
              <span class="symfonyLegend chartLegend">40%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h4 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
            Autres
          </button>
        </h4>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#skillAccordion">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>Git + gitflow</h5>
              <canvas id="gitChart" class="skillChart"></canvas>
              <span class="gitLegend chartLegend">70%</span>
            </div>
            <div class="col">
              <h5>Photoshop</h5>
              <canvas id="photoshopChart" class="skillChart"></canvas>
              <span class="photoshopLegend chartLegend">45%</span>
            </div>
            <div class="col">
                <h5>Avocode</h5>
                <canvas id="avocodeChart" class="skillChart"></canvas>
                <span class="avocodeLegend chartLegend">40%</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  </div>