<!-- <div class="darker-container"> -->
<div class="container padding">

    <h2>Mes compétences</h2>


  <div class="row">
    <div class="col">
      <h3>Front-End</h3>

      <ul>
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>JavaScript</li>
      </ul>
    </div>
    <div class="col">
      <h3>Back-End</h3>
      <ul>
        <li>PHP</li>
        <li>SQL</li>
        <li>PHPMyAdmin</li>
      </ul>
    </div>

    <div class="col">
      <h3>Frameworks</h3>

      <ul>
        <li>Angular</li>
        <li>Ionic</li>
        <li>Wordpress</li>
        <li>Symfony</li>
        <li>Bootstrap</li>
        <li>Swiper</li>
      </ul>
    </div>

    <div class="col">
      <h3>Autres</h3>

      <ul>
        <li>Git</li>
        <li>Photoshop</li>
      </ul>
    </div>
  </div>
</div>
<!-- </div> -->