<div class="darker-container padding">
  <div class="container">
      <a id="about" class="anchor"><h1>Mes compétences</h1></a>

    <div class="row">
      <div class="col">
        <h2>Front-End</h2>

        <ul>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>JavaScript</li>
        </ul>
      </div>
      <div class="col">
        <h2>Back-End</h2>
        <ul>
          <li>PHP</li>
          <li>SQL</li>
          <li>PHPMyAdmin</li>
        </ul>
      </div>

      <div class="col">
        <h2>Frameworks</h2>

        <ul>
          <li>Angular</li>
          <li>Ionic</li>
          <li>Wordpress</li>
          <li>Symfony</li>
          <li>Bootstrap</li>
          <li>Swiper</li>
        </ul>
      </div>

      <div class="col">
        <h2>Autres</h2>

        <ul>
          <li>Git</li>
          <li>Photoshop</li>
        </ul>
      </div>
    </div>
  </div>
</div>