<div class="container padding">
  <!-- <div class="text-center">
    <h1>{{title}}</h1>
    <p>
      Vous avez quelque chose à me dire ?
    </p>
  </div> -->


  <div class="col-lg-10 mx-auto">
    <!-- <div class="row"> -->
      <!-- <div class="col-lg-2">
        <app-pictures></app-pictures>
      </div> -->
      <!-- <div class="col-lg-10"> -->
        <form>
          <div class="row">
            <div class="col-lg-4 label-container">
              <label for="name">Votre nom <span class="form-asterisk" aria-label="(Obligatoire)">*</span></label>
            </div>
            <div class="col">
              <input type="text" placeholder="Arthur Dubois" id="name" required>

              <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
              </div> -->

            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 label-container">
              <label for="email">Votre adresse email <span class="form-asterisk" aria-label="(Obligatoire)">*</span></label>
            </div>
            <div class="col">
              <input type="email" placeholder="arthur.d@exemple.fr" id="email">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 label-container">
              <label for="subject">Le sujet de votre message</label>
            </div>
            <div class="col">
              <input type="text" placeholder="Demande d'informations" id="subject">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 label-container">
              <label for="message">Votre message <span class="form-asterisk" aria-label="(Obligatoire)">*</span></label>
            </div>
            <div class="col">
              <textarea id="message" placeholder="Bonjour, je vous contacte car..."></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 label-container">
            </div>
            <div class="col">
              <button class="btn btn-primary">Envoyer</button>
            </div>
          </div>

        </form>
      <!-- </div> -->
    <!-- </div> -->

    <!-- <form action="post">
      <div class="row mx-0">
        <div class="col-md-6 pl-md-0 pr-md-2">
          <label for="name">Votre nom</label>
          <input type="text" placeholder="Arthur Dubois" id="name" required>
        </div>
        <div class="col-md-6 pl-md-2 pr-md-0">
          <label for="email">Votre email</label>
          <input type="email" placeholder="arthur.d@exemple.fr" id="email" required>
        </div>
      </div>

      <label for="subject">Sujet de votre message</label>
      <input type="text" placeholder="Demande d'informations" id="subject" required>
      
      <label for="message">Votre message</label>
      <textarea id="message" placeholder="Bonjour, je vous contacte car j'aimerais..." required></textarea>

      <button class="btn btn-primary">Envoyer</button>
    </form> -->
  </div>
</div>