@import "../../variables.scss";

form {
    text-align: center;
}

input, textarea {
    width: 100%;
    border: 1px solid map-get($palette, 'dark-gray');
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.2rem;
}