<div class="container padding">
  <!-- <div class="text-center">
    <h1>{{title}}</h1>
    <p>
      Vous avez quelque chose à me dire ?
    </p>
  </div> -->


  <div class="col-lg-10 mx-auto">
    <form action="post">
      <div class="row mx-0">
        <div class="col-md-6 pl-md-0 pr-md-2">
          <label for="name">Votre nom</label>
          <input type="text" placeholder="Arthur Dubois" id="name" required>
        </div>
        <div class="col-md-6 pl-md-2 pr-md-0">
          <label for="email">Votre email</label>
          <input type="email" placeholder="arthur.d@exemple.fr" id="email" required>
        </div>
      </div>

      <label for="subject">Sujet de votre message</label>
      <input type="text" placeholder="Demande d'informations" id="subject" required>
      
      <label for="message">Votre message</label>
      <textarea id="message" placeholder="Bonjour, je vous contacte car j'aimerais..." required></textarea>

      <button class="btn btn-primary">Envoyer</button>
    </form>
  </div>
</div>