@import "../../variables.scss";

form {
    .label-container {
        display: flex;
        align-items: center;
    }
    label {
        font-weight: bold;
        color: map-get($palette, 'dark-gray');

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

input, textarea {
    width: 100%;
    border: 1px solid map-get($palette, 'dark-gray');
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.2rem;
}