@import "../../variables.scss";

.contact-intro {
    margin-bottom: map-get($spacing, 'doubleSpacing');

    p {
        &:first-of-type {
            margin-top: map-get($spacing, 'quarterSpacing');
        }
    }
}

form {
    .form-indication {
        margin-bottom: map-get($spacing, 'general');
        font-style: italic;
        font-size: 0.9rem;
    }
    .form-asterisk {
        color: map-get($palette, 'mainDark')
    }

    .label-container {
        display: flex;
        // align-items: center;
        align-items: flex-start;
        width: 100%;
        max-width: 14rem;
    }
    label {
        // font-weight: bold;
        // color: map-get($palette, 'dark-gray');
        // border-bottom: 2px solid map-get($palette, 'light-gray');
        width: 100%;
        // padding: 0.2rem 0.5rem;
        padding: 0.2rem 0;
        
        margin-top: 0.2rem;
        // margin-bottom: 1.25rem;
        font-weight: 450;

        // &:last-of-type {
        //     margin-bottom: 0;
        // }
    }
    button {
        // margin: 0.9rem 0.2rem;
        padding: 0.6rem 1.7rem;
        margin-top: map-get($spacing, 'thirdSpacing');
    }
}

input, 
textarea {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0.2rem 0;

    &::placeholder {
        // color: red;
        font-style: italic;
        color: map-get($palette, 'dark-gray');
        opacity: 0.75;
    }

    &:focus {
        border-color: map-get($palette, 'main');
    }
}