@import'../variables.scss';

nav {
    background: $navbarBackground;
    color: white;
    padding: 0;


    .uncollapsedNavbar {
        display: flex;
        justify-content: inherit;
        align-items: inherit;
        // width: 100%;
        min-height: map-get($sizes, 'minHeaderHeight');
    }

    .navbar-brand {
        font-weight: 600;
        color: $mainColor;
        font-family: 'Paprika', cursive;
        font-size: 1.4rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
    }

    .nav-item::after {
        margin-left: 1rem;
        width: 2px;
        height: 1.5rem;
        background: $mainColor;
        content: '';
    }

    a.nav-item:last-of-type::after {
        width: 0;
    }

    .btn-group .btn {
        padding: 0;
        display: flex;
        align-items: center;
    }

    .hover {
        // padding-bottom: 1px;
        border-bottom: 2px solid transparent;
    }

    .hover:hover,
    .hover:focus,
    .hover:active,
    *:focus>.hover {
        // padding-bottom: 1px;
        border-bottom: 2px solid $mainColor;
        transition: all 0.35s;
        transition-timing-function: linear;
    }

    // étendre le comportement natif  de bootstrap
    .btn-group {
        padding: .5rem 1rem;
    }

    .btn-group a,
    .btn-group .btn {
        color: rgba(255, 255, 255, 0.5) !important;
        text-decoration: none;
    }

    .dropdown-menu {
        background: black;
    }

    a.dropdown-item:focus,
    a.dropdown-item:hover {
        // background: $mainColor;
        // color: $mainColor!important;
        color: white !important;
        background: black;
    }

    .dropdown-menu {
        margin: 0;
    }

    // changer les marges de bases de bootstrap pour les flèches de dropdown menu
    .dropdown-toggle {
        margin-left: 0.4rem;
        margin-top: 0.3rem;

        &::after {
            margin-left: 0;
        }
    }
}

// // afficher le burger menu avant le contenu de la navbar
// .navbar>.container,
// .navbar>.container-fluid {
//     // justify-content: flex-start;
// }


@media (min-width: 992px) {

    .dropdown:hover>.dropdown-menu,
    .btn-group:hover>.dropdown-menu {
        display: block;
    }
}

@media (max-width: 992px) {
    nav {

        .nav-link,
        .btn-group {
            &::after {
                content: none;
            }
        }

        .btn-group {
            padding-left: 0;
            padding-right: 0;
        }

        // afficher directement le contenu des dropdown en resposive
        .btn-group {
            align-items: flex-start;
            flex-direction: column;
        }

        // masquer le bouton pour dérouler
        .btn-group .btn.dropdown-toggle {
            display: none;
        }

        .dropdown-menu {
            display: block;
            width: 100%;
            background: transparent;
            border: none;

            .dropdown-item {
                &:focus, &:hover {
                    background: transparent;
                }

            }
        }
    }

    .navbar-brand,
    .navbar-toggler {
        margin: 0 0.5rem;

    }

    .navbar-toggler {
        display: flex;
        flex-direction: column;
        min-height: 2rem;
        transition: all 0.5s;

        &[aria-expanded="true"] {
            // -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
            // -moz-box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
            // box-shadow: inset 0px 0px 2rem 0px rgba(0, 0, 0, 0.75);
            background: rgba(0,0,0,0.4);
        }

        .legend {
            margin-top: 0.2rem;
            font-size: 0.8rem;
        }
    }

    .uncollapsedNavbar {
        width: 100%;
    }



}