@import'../variables.scss';
nav {
    background: $navbarBackground;
    min-height: map-get($sizes, 'minHeaderHeight');
    color: white;
    padding: 0;


    .navbar-brand {
        font-weight: 600;
        color: $mainColor;
        font-family: 'Paprika', cursive;
        font-size: 1.4rem;
    }

    .nav-link {
        display: flex;
        align-items: center;
    }
    .nav-link::after {
        margin-left: 1rem;
        width: 2px;
        height: 1.5rem;
        background: $mainColor;
        content: '';
    }
    .nav-link:last-of-type::after {
        width: 0;
    }

    .hover {
        padding-bottom: 1px;
        border-bottom: 2px solid transparent;
    }
    .hover:hover, .hover:focus, .hover:active {
        padding-bottom: 1px;
        border-bottom: 2px solid $mainColor;
        transition: all 0.35s;
        transition-timing-function: linear;
    }   
}

@media (max-width: 992px) {
    nav {
        .nav-link::after {
            content: none;
        }
    }
}