<div class="container padding">
<h1>Introduction</h1>
  
  <div class="row">
    <div class="col-lg-10">

      <p>
        Bonjour, je m'appelle Madeleine, et je suis actuellement en stage développeur web et mobile. J'ai terminé
        récemment une formation accélérée pour apprendre les bases du développement web, ce qui m'a permis de confirmer
        l'intérêt que j'avais déjà pour ce domaine.
      </p>

      <p>
        En réalisant des projets pour le travail, j'ai eu de plus en plus envie de déveloper les miens pour approfondir mes connaissances.
      </p>

      <p>
        J'ai un goût marqué pour le développement front-end : travailler sur le lien entre le site et son utilisateur. Je veille à ce qu'un site soit propre et ait bien l'apparence demandée. J'ai également appris les bases du développement back-end (assurer le lien entre le site et son serveur), mais cela m'intéresse moins que le front.
      </p>

      <p>
        Sur cette page, vous pourrez découvrir mon portfolio, avec notamment mon parcours et les technologies que je maîtrise.
      </p>

      <p>
        Bonne visite&nbsp;!
      </p>
    </div>

    <div class="portrait-container col">
      <img
        src="https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
        alt>
    </div>
  </div>
</div>