@import'../../variables.scss';

.portrait-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        border-radius: 50%;
        width: $portraitSize;
        height: $portraitSize;
        object-fit: cover;
    }
}