@import "src/app/variables.scss";

.filters-container {
    margin-bottom: #{map-get($spacing, 'halfSpacing')};

    .btn {
        .fas:not(:last-child) {
            margin-right: #{map-get($spacing, 'quarterSpacing')};
        }
    }
}
.portfolio-filters {
    color: white;
    background: #{map-get($bgColors, 'partDark')};
    margin-top: #{map-get($spacing, 'quarterSpacing')};
    padding: #{map-get($spacing, 'halfSpacing')};
    border-radius: 2px;

    .filters-option {
        input[type='checkbox'] {
            margin-right: #{map-get($spacing, 'quarterSpacing')};
        }
        &:not(:last-of-type) {
            padding-right: #{map-get($spacing, 'halfSpacing')};
        }
    }
}

.portfolioList {
    padding-left: 0;
    margin-bottom: 0;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr; 
    grid-column-gap: #{map-get($spacing, 'halfSpacing')};
    grid-row-gap: #{map-get($spacing, 'halfSpacing')};
}

.realisation {
    border-radius: 2px;
    list-style: none;

    &:hover,
    &:focus {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, map-get($palette, 'offwhite') 0px 0px 0px 3px;
    }

    .realisation-image {
        width: 100%;
        max-height: 15rem;
        object-fit: cover;
        object-position: top;
        border-radius: 2px 2px 0 0;
    }
    
    .realisation-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    
        .left {
            .top-part {
                display: flex;
                align-items: baseline;
            }
    
            h2 {
                text-align: inherit;
                margin-bottom: 0;
                padding-right: map-get($spacing, 'quarterSpacing');
                font-size: 1.5rem;
            }
    
            ul, 
            li {
                display: inline;
                padding: 0;
            }
    
            .badge {
                border: 1px solid map-get($palette, 'black');
            }
    
            li:not(:last-of-type) {
                .badge {
                    margin-right: map-get($spacing, 'quarterSpacing');
                }
            }
        }
        .btn {
            text-decoration: none;
        }
    }
}

.realisation-error {
    // background: #{map-get($palette, 'dark-gray')};
    color: #{map-get($palette, 'white')};
    text-align: center;
    padding: #{map-get($spacing, 'doubleSpacing')};

    h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }

    h2 {
        font-size: 1.6rem;
    }
}


@media only screen and (max-width: 1200px) {
    .portfolioList {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 992px ) {
    .portfolioList {
        grid-template-columns: 1fr;
    }
}