<div class="part portfolio background">
  <div class="background-dimming">
    <div class="container">
      <div class="filters-container">
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false"
          aria-controls="collapseFilters">
          <span class="fas fa-cog"></span>
          Filtres
        </button>
        <div class="collapse" id="collapseFilters">
          <form class="portfolio-filters">
            <fieldset>
              <legend>Type d'intervention</legend>
              <span *ngFor="let tag of completeTagsArray; let i = index" class="filters-option">
                <input type="checkbox" id="intervention-{{i+1}}" (change)="portfolioFiltersChanged($event)" checked>
                <label for="intervention-{{i+1}}">{{tag}}</label>
              </span>
            </fieldset>
          </form>
        </div>
      </div>

      <ul class="portfolioList">
        <li *ngFor="let realisation of outputResults" class="realisation foreground">
          <img *ngIf="realisation.image" src="assets/img/portfolio/{{realisation.image}}" class="realisationImage" alt>
          <div class="realisation-text">
            <div class="left">
              <div class="top-part">
                <a href="portfolio/project/{{realisation.id}}">
                  <h2>
                    {{realisation.title}}
                  </h2>
                </a>
                <span *ngIf="realisation.date">
                  ({{realisation.date}})
                </span>
              </div>
              <ul *ngIf="realisation.interventions" class="realisation-list">
                <li *ngFor="let intervention of realisation.interventions">
                  <button class="btn badge badge-secondary">
                    {{intervention}}
                  </button>
                </li>
              </ul>
            </div>
            <div class="right">
              <a href="portfolio/project/{{realisation.id}}" class="btn btn-primary" title="Voir {{realisation.title}}"
                attr.aria-label="Voir {{realisation.title}}">Voir</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <app-jumbotron small="true"></app-jumbotron> -->