<div class="part portfolio background">
  <div class="background-dimming">
    <div class="container">
      <!-- <div class="filters-container">
        <div class="buttons">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-filters" aria-expanded="false"
            aria-controls="collapse-filters" (click)="toggleFiltersButton()">
            <span class="fas fa-cog"></span> 
            <span id="toggle-filters">Afficher les filtres</span>
          </button>
          <button id="reset-filters" class="btn btn-secondary" disabled  (click)="resetFilters()">
            Réinitialiser les filtres
          </button>
        </div>
        <div class="collapse" id="collapse-filters">
          <form class="portfolio-filters">
            <fieldset *ngFor="let tagCategory of completeTagsObject; let i = index">
              <legend>
                {{fullFiltersTitlesFunction(tagCategory.name)}}
              </legend>
              <span *ngFor="let tag of tagCategory.textContent; let j = index" class="filters-option">
                <input type="checkbox" id="{{tagCategory.name}}-{{j+1}}" (change)="portfolioFiltersChanged($event)" checked>
                <label for="{{tagCategory.name}}-{{j+1}}">{{tag}}</label>
              </span>
            </fieldset>
          </form>
        </div>
      </div> -->

      <ul class="portfolioList" *ngIf="!emptyResults; else noRealisation">
        <li *ngFor="let realisation of outputResults" class="realisation foreground">
          <a href="portfolio/project/{{realisation.id}}">
            <img *ngIf="realisation.thumbnail" src="assets/img/portfolio/{{realisation.thumbnail}}" class="realisation-image"
              alt>
            <div class="realisation-text">
              <div class="left">
                <!-- <div class="top-part"> -->
                  <h2>
                    {{realisation.title}}
                  </h2>
                  <p class="date" *ngIf="realisation.date">
                    {{realisation.date}}
                  </p>
                <!-- </div> -->
                <!-- <ul *ngIf="realisation.interventions" class="realisation-list">
                <li *ngFor="let intervention of realisation.interventions">
                  <button class="btn badge badge-secondary">
                    {{intervention}}
                  </button>
                </li>
              </ul> -->
              </div>
              <!-- <div class="right">
              <a href="portfolio/project/{{realisation.id}}" class="btn btn-primary" title="Voir {{realisation.title}}"
                attr.aria-label="Voir {{realisation.title}}">Voir</a>
            </div> -->
            </div>
          </a>

        </li>
      </ul>

      <ng-template #noRealisation>
        <div class="realisation-error">
          <h2>
            Aucun résultat n'a été trouvé.
          </h2>
          <p>
            Essayez à nouveau avec d'autres paramètres.
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>