@import "../../variables.scss";

.portfolioList {
    padding-left: 0;
    margin-bottom: 0;

    display: grid;

    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr; 
    grid-column-gap: #{map-get($spacing, 'halfSpacing')};
    grid-row-gap: #{map-get($spacing, 'halfSpacing')};
}

.realisationTechno {
    font-style: italic;
}

.realisationImage {
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
}

.realisationInfos {
    margin-bottom: 1rem;
    // background: #{map-get($palette, 'offwhite')};;
    // color: #{map-get($palette, 'white')};;

    ul {
        padding-left: 0;
        // display: inline;
    }
    li {
        display: inline;
    }

    .fas {
        display: block;
        text-align: center;
        font-size: 2rem;
    }

    p:not(:last-of-type) {
        margin-bottom: 0;
    }
}

.card-body {
    text-align: center;

    .card-text {
        text-align: left;
    }
}

@media only screen and (max-width: 1200px) {
    .portfolioList {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 992px ) {
    .portfolioList {
        grid-template-columns: 1fr;
    }
}