<div class="part about-me">
    <div class="background">
        <div class="background-dimming">
            <!-- <div class="row container px-0 px-lg-auto mx-auto margin-horizontal">
                <div class="col-4 foreground margin-vertical">
                    <app-skills></app-skills>
                </div>
                <div class="col foreground">
                    <app-skills></app-skills>
                </div>
            </div> -->

            <div class="foreground container px-0 px-lg-auto mx-auto margin-horizontal">
                <app-technology></app-technology>
            </div>
            
            <div class="foreground container  mx-auto margin-horizontal">
                <app-experience></app-experience>
            </div>

            <div class="foreground container  mx-auto margin-horizontal">
                <app-school></app-school>
            </div>
            
            <div class="foreground container px-0 px-lg-auto mx-auto margin-horizontal">
                <app-accessibility></app-accessibility>
            </div>
            
            <div class="foreground container  mx-auto">
                <app-languages></app-languages>
            </div>
        </div>
    </div>
</div>