<div class="part about-me">
    <div class="background">
        <div class="background-dimming">
            <!-- <app-jumbotron small="true"></app-jumbotron> -->
            <div class="row container-xl px-0 px-lg-auto mx-auto margin-horizontal">
                <!-- <div class="col-4 foreground margin-vertical">
                    <app-skills></app-skills>
                </div> -->
                <div class="col foreground">
                    <app-skills></app-skills>
                </div>
                
            </div>
            
            <!-- <app-jumbotron small="true"></app-jumbotron> -->
            <div class="foreground container-xl px-0 px-lg-auto mx-auto margin-horizontal">
                <!-- <div class="col-lg-8 foreground margin-vertical"> -->
                    <app-technology></app-technology>
                <!-- </div> -->
                <!-- <div class="col-lg-1">
                    <app-jumbotron thin="true"></app-jumbotron>
                </div> -->

                <!-- <div class="d-flex d-lg-none">
                    <app-jumbotron small="true"></app-jumbotron>
                </div> -->
                <!-- <div class="col foreground"> -->
                    <!-- </div> -->
                </div>
                
                <div class="foreground container-xl  mx-auto margin-horizontal">
                    <app-languages></app-languages>

                </div>
            
            <!-- <app-jumbotron small="true"></app-jumbotron> -->
            <div class="foreground container-xl  mx-auto">
                <app-experience></app-experience>
            </div>
            <!-- <app-jumbotron small="true"></app-jumbotron> -->

        </div>
    </div>
</div>