<div class="darker-container">
  <div class="container padding">
    <h1>Expériences</h1>

    <ul>
      <li>
        <strong>Janvier - mai 2019 : </strong>
        Stage de développement web chez <a href="https://compethance.fr">Compéthance</a>.
        <ul>
          <li>
            <strong>2019 :</strong>
            Participation au découpage et à l'intégration du nouveau site de Compéthance.
          </li>
          <li>
            <strong>2019 :</strong>
            Découpage pour <a href="https://www.sergic.com/">Sergic</a> de 2 applications mobiles
            parallèles, destinées l'une pour leurs bailleurs et l'autre pour leurs locataires.
          </li>
        </ul>
      </li>
      <li>
        <strong>Septembre - décembre 2018 : </strong>
        Formation de développeur intégrateur web et mobile chez
        <a href="https://www.wf3.fr/">Webforce 3</a>.

      </li>
    </ul>
  </div>

</div>