<!-- <div class="darker-container"> -->
<div class="container padding">
  <a id="experience" class="anchor">
    <h2>Expérience</h2>
  </a>

  <div class="ligneTimeline">
    <ul>
      <li>
        <span class="yearTimeline">
          Juin 2019 -
          <span class="yearTimelineEnd"> aujourd'hui</span>
        </span>
        <!-- <span class="fas fa-briefcase" aria-hidden="true"></span> -->
        <span class="yearHeadlineTimeline">
            Développeur web et mobile</span>
        <div class="yearCompanyTimeline"><span class="sr-only">Chez </span>Compéthance</div>

        <div class="experienceDescription">
          <p>Mission principalement front-end.</p>
          <p>Découpage de maquette, corrections graphiques, pré-traitement de sites clients pour y intégrer <a href="http://www.facil-iti.com/">Facil'Iti</a>, corrections d'accessibilité.</p>
        </div>
      </li>
      <li>
        <span class="yearTimeline">
          Janvier -
          <span class="yearTimelineEnd"> mai 2019</span>
        </span>
        <!-- <span class="fas fa-binoculars" aria-hidden="true"></span> -->
        <span class="yearHeadlineTimeline">
            Stage de développement web</span>
        <div class="yearCompanyTimeline"><span class="sr-only">Chez </span>Compéthance</div>

        <div class="experienceDescription">
          <p>Application du contenu de ma formation à la vie en entreprise.</p>
          <p> Découpage et intégration de maquettes, corrections graphiques, découverte de l'accessibilité numérique.</p>
          <!-- <p>Technologies utilisées : HTML, CSS / SASS, JavaScript / jQuery, PHP, Angular, Ionic, WordPress</p> -->
        </div>

        <!-- <ul>
          <li>
            Participation au découpage et à l'intégration du nouveau site de Compéthance.
          </li>
          <li>
            Découpage pour <a href="https://www.sergic.com/">Sergic</a> de 2 applications mobiles
            parallèles, destinées l'une pour leurs bailleurs et l'autre pour leurs locataires.
          </li>
          <li>
            Découpage d'un prototype d'intranet pour Urbilog et Compéthance.
          </li>
        </ul> -->
      </li>
      <li>
        <span class="yearTimeline">
          Septembre -
          <span class="yearTimelineEnd"> décembre 2018</span>
        </span>
        <!-- <span class="fas fa-graduation-cap" aria-hidden="true"></span> -->
        <span class="yearHeadlineTimeline">
             Formation de développeur intégrateur web et mobile</span>
        <div class="yearCompanyTimeline"><span class="sr-only">Chez </span>Webforce 3 (La Madeleine)</div>

        <div class="experienceDescription">
          <p>Formation accélérée de 3 mois et demi, au cours de laquelle nous avons intégré les bases du développement, la programmation objet et aussi comment être efficace dans nos futures recherches.</p>
          
          <p>Nous avons évoqué aussi bien le front que le back, à mesures égales. Le projet de fin de formation de mon groupe était réalisé en Symfony 4, couplé à Phaser 3.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- </div> -->