@import'variables.scss';
// main {
//     padding-top: 1rem;
// }

.main {
    min-height: calc(100vh - #{map-get($sizes, 'minHeaderHeight')} - #{map-get($sizes, 'minFooterHeight')});
}

.homepage-main {
    min-height: calc(100vh - #{map-get($sizes, 'minHeaderHeight')} - #{map-get($sizes, 'minFooterHeight')});
}

.main,
.homepage-main {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

// / ! \ utiliser le fichier "../style.scss" pour établir des règles de CSS communes à tout le DOM