/// COULEURS
// couleur principale
$mainColor: #009432;

// BOOTSTRAP
$primaryColor: #009432;
$primaryColorDarker: #016121;

// barre de navigation
$navbarBackground: #2d3436;
// body
$bodyBackground: #cacaca;

/// ESPACEMENT
// padding général de la page
$generalPadding: 2rem;

// taille du portrait de l'intro
$portraitSize: 7rem;