/// BOOTSTRAP
$bootstrapColors: (
    'primary':          #009432,
    'primaryDarker':    #016121,
    'secondary':        #014618
);


/// COULEURS
$palette: (
    'main':         #01c141,
    'mainDark':     #006421,
    'white':        #fff,
    'offwhite':     #c0c0c0,
    'light-gray':   #a5a5a5,
    'dark-gray':    #363636,
    'black':        #000,
);
$bgColors: (
    'navbar':       #2d3436,
    'body':         #cacaca,
    'footer':       #0b0c0d,
    'page':         #1e272e,
    'partDark':     #2f3640,
);
$txtColors: (
    'navbar':       #ececec,               // rgba(255, 255, 255, 0.5)
);


/// DIMENSIONS
$sizes: (
    // 'minHeaderHeight': 5rem,
    'minHeaderHeight': 4.2rem,
    'minFooterHeight': 6rem,
    'smallJumbotronHeight': 20vh,
    'bigJumbotronHeight': 40vh,
    'portraitSize': 7rem,               // taille du portrait de l'intro
);
$spacing: (
    'general': 2rem,
    'halfSpacing': 1rem,
    'thirdSpacing': 0.66rem,
    'quarterSpacing': 0.5rem,
    'partGap': #{map-get($sizes, 'smallJumbotronHeight') / 6},
);


/// PARTIES DE CODE DEVENUES INUTILES
/// (parce que leurs conteneurs ont été commentés)
$iconsColors: (
    'full-star': #fed330,
    'empty-star': #909090
);

// $chartSize: 9rem; // taille des skill charts