/// COULEURS
// couleur principale
$mainColor: #01a638;


// BOOTSTRAP
$primaryColor: #009432;
$primaryColorDarker: #016121;

// barre de navigation
$navbarBackground: #2d3436;
// body
$bodyBackground: #cacaca;

$iconsColors: (
    'full-star': #fed330,
    'empty-star': #909090
);

$palette: (
    'light-gray':   #a5a5a5,
    'dark-gray':    #686868,
);
$bgColors: (
    'page':         #1e272e,
    'partDark':     #2f3640,
);

/// ESPACEMENT
// padding général de la page
$generalPadding: 2rem;

// taille du portrait de l'intro
$portraitSize: 7rem;

// taille des skill charts
$chartSize: 9rem;


$sizes: (
    // 'minHeaderHeight': 5rem,
    'minHeaderHeight': 4.2rem,
    'bigJumbotronHeight': 40vh,
    'smallJumbotronHeight': 20vh,
    'minFooterHeight': 6rem,
    );
$partGap: #{map-get($sizes, 'smallJumbotronHeight') / 6}; // map-get doesn't work if the variable is in the same group