<!-- <div class="darker-container"> -->
<div class="container padding">
  <a id="experience" class="anchor"></a>
  <h2>Expérience professionnelle</h2>

  <div class="ligneTimeline">
    <ul>
      <li *ngFor="let experience of experiencesList; let i = index">
        <span class="yearTimeline">
          {{experience.date.debut}} -
          <span class="yearTimelineEnd"> {{experience.date.fin}}</span>
        </span>
        <h3 class="yearHeadlineTimeline">{{experience.poste}}</h3>
        <div class="yearCompanyTimeline">
          <span class="sr-only">Chez </span>
          <a href="{{experience.compagnie.url}}">{{experience.compagnie.nom}}</a>
          (<span class="sr-only">À </span>{{experience.compagnie.ville}})
        </div>

        <p *ngFor="let paragraph of experience.description">
          {{paragraph}}
        </p>
      </li>
    </ul>
  </div>
</div>
<!-- </div> -->