
    <div class="container padding">

        <a id="accessibility" class="anchor">
          <h2>Accessibilité</h2>
        </a>
        <div class="moduleDescription">
          <p>
            Au cours de mon expérience chez Compéthance, j'ai énormément appris en termes 
            d'accessibilité numérique. Cependant, même si c'est une obligation légale depuis 2005, 
            tout le monde ne comprend pas toujours ce qui se cache derrière le terme.
            Pour être clair, l'accessibilité est fondée sur l'idée que <strong>tout le monde devrait 
            avoir le droit d'utiliser Internet</strong>.
          </p>
          <p>
            Concrètement, cela se matérialise par des bonnes pratiques à employer pour que le contenu 
            et la navigation d'un site soient correctement restitués aux personnes atteintes de tous 
            types de handicaps (comme par exemple, aux malvoyants, aux malentendants ou aux daltoniens).
            Même si celle-ci est à la base destinée aux personnes handicapées, l'accessibilité peut
            également bénéficier au confort de tous, comme par exemple permettre d'augmenter la taille
            des textes ou les contrastes d'un site. De plus, au-delà d'une notion de confort, rendre 
            son site accessible permet d'augmenter son nombre de visiteurs potentiels.
          </p>
          <p>
            Plus l'accessibilité aura été prévue tôt dans le cycle de vie d'un site, et plus elle sera 
            facile à traiter.
          </p>
        </div>

        </div>