@import'../../variables.scss';

.jumbotron {
  background-image: url("../../../assets/img/andrew-coelho-215805-unsplash.jpg");
  background-color: #2d3436;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 0;
  height: map-get($sizes, 'smallJumbotronHeight');
  border-radius: 0;
  margin-bottom: 0;

  &.small {
    height: calc(#{map-get($sizes, 'smallJumbotronHeight') / 8});
    background-color: #576063;
    box-shadow: 
      inset 0px 20px 25px -10px black,
      inset 0px -11px 8px -10px black; 
  }
}
.jumbotron-big {
  height: map-get($sizes, 'bigJumbotronHeight');
}

.jumbotron-darken {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.jumbotron-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  h1 {
    color: white;
    font-size: 2.5rem;
    // text-transform: uppercase;
    // font-family: 'Boogaloo', cursive;
    font-family: "Cabin", sans-serif;
  }
  span {
    color: #ccc;
    font-size: 2rem;
    // font-family: 'Paprika', cursive;
    font-family: "Reenie Beanie", cursive;
  }
}
