<div class="jumbotron jumbotron-big" *ngIf="intro">
  <div class="jumbotron-darken">
    <div class="jumbotron-content">
      <h1>Madeleine Bourdon</h1>
      <span>
        Développeuse front-end junior
      </span>
    </div>
  </div>
</div>
<div class="jumbotron" *ngIf="!intro" [class.small]="small=='true'">
  <div class="jumbotron-darken">
    <div class="jumbotron-content">
      <h1 *ngIf="about">À propos de moi</h1>
      <h1 *ngIf="portfolio">Réalisations</h1>
      <h1 *ngIf="contact">Contact</h1>
    </div>
  </div>
</div>