@import "src/app/variables.scss";

.container {
    margin-top: map-get($spacing, 'general');
    margin-bottom: map-get($spacing, 'general');
}

.back-link {
    display: inline-flex;
    align-items: baseline;
    padding: map-get($spacing, 'quarterSpacing');
    margin-bottom: map-get($spacing, 'halfSpacing');
    text-decoration: none;
    border: 1px solid map-get($palette, 'dark-gray');

    .fa, .fas, .fab, .fal {
        padding-right: map-get($spacing, 'quarterSpacing');
    }
}

.split {
    display: flex;
    flex-direction: column;
}

.image-container {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}