<div class="container">
    <a href="/portfolio" class="btn back-link">
        <span class="fas fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Retour vers "</span>Mes réalisations<span class="sr-only">"</span>
    </a>

    <div class="split">
        <div class="image-container">
            <img src="/assets/img/portfolio/{{realisation.thumbnail}}" alt>
        </div>
        <div class="side-column">
            <h2>{{realisation.title}}</h2>
            <ul>
                <li *ngIf="realisation.date"><span class="fas fa-calendar-alt" title="Année"></span>
                    {{realisation.date}}</li>
                <li *ngIf="realisation.interventions"><span class="fas fa-toolbox"></span>
                    {{realisation.interventions.join(', ')}}</li>
                <li *ngIf="realisation.technos"><span class="fas fa-microchip"></span> {{realisation.technos.join(',
                    ')}}</li>
                <!-- <li *ngIf="realisation.tags">Tags : {{realisation.tags.join(', ')}}</li> -->
            </ul>
            <ul>
                <li *ngFor="let ousideLink of realisation.outsideLinks">
                    <a href="{{ousideLink}}" class="btn btn-primary">
                        <span class="fas fa-globe-europe"></span>
                        Voir le site*
                    </a>
                    <p class="outside-link">* {{realisation.title}} peut avoir changé depuis mon passage. Je ne suis pas responsable de modifications qui ne seraient pas mentionnées ici.</p>
                </li>
                <li *ngFor="let insideLink of realisation.insideLinks"> 
                    <a href="{{insideLink}}" class="btn btn-primary">
                        <span class="fas fa-globe-europe"></span>
                        Voir le site
                    </a>
                </li>
                <li *ngIf="realisation.customLinks">
                    <ul class="link-group" *ngFor="let linkGroup of realisation.customLinks">
                        <li *ngFor="let customLink of linkGroup">
                            <a href="{{customLink.url}}" class="{{customLink.btnClass}}">
                                <span class="{{customLink.icon}}"></span>
                                {{customLink.text}}
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="description">
        <p *ngFor="let paragraph of realisation.description">{{paragraph}}</p>
    </div>
</div>