@import "src/app/variables.scss";

.container {
    margin-top: map-get($spacing, 'general');
    margin-bottom: map-get($spacing, 'general');
}

.back-link {
    display: inline-flex;
    align-items: baseline;
    padding: map-get($spacing, 'quarterSpacing');
    margin-bottom: map-get($spacing, 'halfSpacing');
    text-decoration: none;
    border: 1px solid map-get($palette, 'dark-gray');

    .fa, .fas, .fab, .fal {
        padding-right: map-get($spacing, 'quarterSpacing');
    }
}

.split {
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 100%;
    max-width: 66%;

    img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.side-column {
    width: 33%;
    background-color: map-get($palette, 'light-gray');
    margin-left: map-get($spacing, 'general');
    padding: map-get($spacing, 'general');
    height: min-content;

    .btn {
        text-decoration: none;

        span:first-child {
            padding-right: 0.2rem;
        }
    }

    > ul,
    > ul > li {
        list-style: none;
        padding-left: 0;
    }

    h2 {
        color: inherit;
        margin-bottom: map-get($spacing, 'general');
    }

    .outside-link {
        font-style: italic;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 992px ) {
    .split {
        flex-direction: column;
    }

    .image-container {
        max-width: 100%;
    }
}