<div class="container">
    <a href="/portfolio" class="btn back-link">
        <span class="fas fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Retour vers </span>Toutes mes réalisations
    </a>

    <div class="split">
        <div class="image-container">
            <ng-container *ngIf="realisation.pictures; else noPictures">
                <!-- <ng-container *ngFor="let picture of realisation.pictures; index as i; first as isFirst">
                    <img src="/assets/img/portfolio/{{picture.url}}" alt="{{realisation.title}} - {{picture.legend}}">
                    <button *ngIf="isFirst" id="more-pictures" class="btn btn-primary" title="Voir plus d'images">
                        <span class="fas fa-arrow-down"></span>
                    </button>
                </ng-container> -->
                <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [loop]="false"
                    [spaceBetween]="10" [navigation]="true" [thumbs]="{ swiper: thumbsSwiper }" class="swiper1">
                    <ng-template swiperSlide *ngFor="let picture of  realisation.pictures">
                        <img src="/assets/img/portfolio/{{picture.url}}"
                            alt="{{realisation.title}} - {{picture.legend}}">
                    </ng-template>
                    <!-- <ng-template swiperSlide *ngFor="let picture of  realisation.pictures">
                        <img src="/assets/img/portfolio/{{picture.url}}"
                            alt="{{realisation.title}} - {{picture.legend}}">
                    </ng-template> -->
                </swiper>
                <swiper (swiper)="thumbsSwiper = $event" [loop]="false" [spaceBetween]="0" [slidesPerView]="5"
                     [watchSlidesVisibility]="true" [watchSlidesProgress]="true" class="swiper2" [pagination]="{clickable: true, type: 'bullets'}" [mousewheel]="{invert: false, eventsTarget: 'container', releaseOnEdges: true}" [watchOverflow]="true">
                    <ng-template swiperSlide *ngFor="let picture of  realisation.pictures">
                        <img src="/assets/img/portfolio/{{picture.url}}"
                            alt="{{realisation.title}} - {{picture.legend}}">
                    </ng-template>
                    <!-- <ng-template swiperSlide *ngFor="let picture of  realisation.pictures">
                        <img src="/assets/img/portfolio/{{picture.url}}"
                            alt="{{realisation.title}} - {{picture.legend}}">
                    </ng-template> -->
                </swiper>
            </ng-container>
            <ng-template #noPictures>
                <img src="/assets/img/portfolio/{{realisation.thumbnail}}" alt>
            </ng-template>
        </div>
        <div class="side-column">
            <h2>{{realisation.title}}</h2>
            <ul>
                <li *ngIf="realisation.date">
                    <span class="fas fa-calendar-alt" title="Année"></span>
                    {{realisation.date}}
                </li>
                <li *ngIf="realisation.interventions">
                    <span class="fas fa-toolbox" title="Interventions"></span>
                    {{realisation.interventions.join(', ')}}
                </li>
                <li *ngIf="realisation.technos" title="Technologies">
                    <span class="fas fa-microchip"></span>
                    {{realisation.technos.join(', ')}}
                </li>
            </ul>
            <ul>
                <li *ngFor="let ousideLink of realisation.outsideLinks">
                    <a href="{{ousideLink}}" class="btn btn-primary">
                        <span class="fas fa-globe-europe"></span>
                        Voir le site*
                    </a>
                    <p class="outside-link">* {{realisation.title}} peut avoir changé depuis mon passage. Je ne suis pas
                        responsable de modifications qui ne seraient pas mentionnées ici.</p>
                </li>
                <li *ngFor="let insideLink of realisation.insideLinks">
                    <a href="{{insideLink}}" class="btn btn-primary">
                        <span class="fas fa-globe-europe"></span>
                        Voir le site
                    </a>
                </li>
                <li *ngIf="realisation.customLinks">
                    <ul class="link-group" *ngFor="let linkGroup of realisation.customLinks">
                        <li *ngFor="let customLink of linkGroup">
                            <a href="{{customLink.url}}" class="{{customLink.btnClass}}">
                                <span class="{{customLink.icon}}"></span>
                                {{customLink.text}}
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="description" *ngIf="realisation.description">
        <p *ngFor="let paragraph of realisation.description">{{paragraph}}</p>
    </div>
</div>