@import 'src/app/variables.scss';

.footer {
    min-height: map-get($sizes, 'minFooterHeight');
    display: flex;
    align-items: center;
    background-color: map-get($bgColors, 'footer');
    color: map-get($palette, 'white');

    .fa, .fas, .fab {
        font-size: 1.3rem;
    }
     
    a {
        font-weight: initial;
        color: map-get($palette, 'offwhite');
        fill: map-get($palette, 'offwhite');
    }

    ul {
        margin-bottom: 0;
    }
}