@import '../../variables.scss';

// h3 {
//     text-align: left;
// }
.languageRatingContainer,
.languageShortDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.languageStars {
    color: map-get($iconsColors, full-star);

    .empty,
    .half {
        color: map-get($iconsColors, empty-star);
    }

    .half {
        transform: scale(-1, 1) translateX(100%);
        margin-right: -1.1rem;
    }
}

.ratingSummary {
    margin-left: 0.5rem;
    font-style: italic;
    color: map-get($palette, light-gray);
}
.languageShortDescription {
    color: map-get($palette, dark-gray);
}

dl,
ol,
ul {
    padding-left: 0;
    list-style: none;
}

// display grid
.gridContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .gridItem {
        text-align: center;
    }
}

.skillContainer {
    // background-color: deeppink;
    height: calc(100% - 5rem);
    // display: flex;
    // align-items: center;


    ul {
        width: 100%;
        text-align: center;
        list-style: none;
        padding-left: 0;
    }
}

@media (max-width: 767.98px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 575.98px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}