@import '../../variables.scss';

.languageRatingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.languageStars {
    color: map-get($iconsColors, full-star);

    .empty,
    .half {
        color: map-get($iconsColors, empty-star);
    }

    .half {
        transform: scale(-1, 1) translateX(100%);
        margin-right: -1.1rem;
    }
}

.ratingSummary {
    margin-left: 0.5rem;
    font-style: italic;
    color: map-get($palette, light-gray);
}

dl,
ol,
ul {
    padding-left: 0;
    list-style: none;
}