<div class="container padding">
  <a id="languages" class="anchor">
    <h2>Langues parlées</h2>
  </a>

  <ul>
    <li>
      <div class="row">
        <div class="col-12 col-lg-3">
          <h3>
            Français
          </h3>
        </div>
        <div class="col languageRatingContainer">
          <strong>Écrit :</strong>
          <div>
            <span class="languageStars">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </span>

            <span class="ratingSummary" aria-hidden="true">(5 / 5)</span>
            <span class="sr-only">5 sur 5</span>
          </div>
        </div>
        <div class="col languageRatingContainer">
          <strong>Oral :</strong>
          <div>
            <span class="languageStars">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </span>

            <span class="ratingSummary" aria-hidden="true">(5 / 5)</span>
            <span class="sr-only">5 sur 5</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-12 col-lg-3">
          <h3>
            Anglais
          </h3>
        </div>
        <div class="col languageRatingContainer">
          <strong>Écrit :</strong>
          <div>
            <span class="languageStars">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star-half"></span>
              <span class="fas fa-star-half half"></span>
            </span>

            <span class="ratingSummary" aria-hidden="true">(4.5 / 5)</span>
            <span class="sr-only">4 virgule 5 sur 5</span>
          </div>

        </div>
        <div class="col languageRatingContainer">
          <strong>Oral :</strong>
          <div>
            <span class="languageStars">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star-half"></span>
              <span class="fas fa-star-half half"></span>
            </span>

            <span class="ratingSummary" aria-hidden="true">(4.5 / 5)</span>
            <span class="sr-only">4 virgule 5 sur 5</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-12 col-lg-3">
          <h3>
            Japonais
          </h3>
        </div>
        <div class="col languageRatingContainer">
          <strong>Écrit :</strong>
          <div>
            <span class="languageStars">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star empty"></span>
              <span class="fas fa-star empty"></span>
            </span>

            <span class="ratingSummary" aria-hidden="true">(3 / 5)</span>
            <span class="sr-only">3 sur 5</span>
          </div>
        </div>
        <div class="col languageRatingContainer">
            <strong>Oral :</strong>
            <div>
              <span class="languageStars">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star empty"></span>
              </span>
  
              <span class="ratingSummary" aria-hidden="true">(4 / 5)</span>
              <span class="sr-only">4 sur 5</span>
              </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-12 col-lg-3">
          <h3>
            Espagnol
          </h3>
        </div>
        <div class="col languageRatingContainer">
            <strong>Écrit :</strong>
            <div>
              <span class="languageStars">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star empty"></span>
              </span>
  
              <span class="ratingSummary" aria-hidden="true">(4 / 5)</span>
              <span class="sr-only">4 sur 5</span>
            </div>
        </div>
        <div class="col languageRatingContainer">
            <strong>Oral :</strong>
            <div>
              <span class="languageStars">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star-half"></span>
                <span class="fas fa-star-half half"></span>
                <span class="fas fa-star empty"></span>
              </span>
  
              <span class="ratingSummary" aria-hidden="true">(3.5 / 5)</span>
              <span class="sr-only">3 virgule 5 sur 5</span>
            </div>
        </div>
      </div>
    </li>
  </ul>

  <!-- <div class="row">
    <div class="col">
      <h3>
        Français
      </h3>

      <p>
        Écrit :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>

          <span class="sr-only">5 sur 5</span>
        </span>
      </p>
      <p>
        Oral :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>

          <span class="sr-only">5 sur 5</span>
        </span>
      </p>
    </div>

    <div class="col">
      <h3>Anglais</h3>
      <p>Écrit :
        <span class="language-rating">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star-half"></span>
          <span class="fas fa-star-half half"></span>

          <span class="sr-only">4 virgule 5 sur 5</span>
        </span>

      </p>
      <p>
        Oral :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star-half"></span>
          <span class="fas fa-star-half half"></span>

          <span class="sr-only">4 virgule 5 sur 5</span>
        </span>
      </p>
    </div>

    <div class="col">
      <h3>Japonais</h3>

      <p>Écrit :
        <span class="language-rating">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star empty"></span>
          <span class="fas fa-star empty"></span>

          <span class="sr-only">3 sur 5</span>
        </span>

      </p>
      <p>
        Oral :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star empty"></span>

          <span class="sr-only">4 sur 5</span>
        </span>
      </p>
    </div>

    <div class="col">
      <h3>Espagnol</h3>

      <p>Écrit :
        <span class="language-rating">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star-half"></span>
          <span class="fas fa-star-half half"></span>
          <span class="fas fa-star empty"></span>

          <span class="sr-only">3 virgule 5 sur 5</span>
        </span>

      </p>
      <p>
        Oral :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star-half"></span>
          <span class="fas fa-star-half half"></span>
          <span class="fas fa-star empty"></span>

          <span class="sr-only">3 virgule 5 sur 5</span>
        </span>
      </p>
    </div>
  </div> -->
</div>