<li class="container padding">
  <a id="languages" class="anchor">
    <h2>Langues parlées</h2>
  </a>

  <div class="row">
    <div class="col">
      <h3>
        Français
      </h3>

      <p>
        Écrit :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>

          <span class="sr-only">5 sur 5</span>
        </span>
      </p>
      <p>
        Oral :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>

          <span class="sr-only">5 sur 5</span>
        </span>
      </p>
    </div>

    <div class="col">
      <h3>Anglais</h3>
      <p>Écrit :
        <span class="language-rating">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star-half"></span>
          <span class="fas fa-star-half half"></span>

          <span class="sr-only">4.5 sur 5</span>
        </span>

      </p>
      <p>
        Oral :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star-half"></span>
          <span class="fas fa-star-half half"></span>

          <span class="sr-only">4.5 sur 5</span>
        </span>
      </p>
    </div>

    <div class="col">
      <h3>Japonais</h3>

      <p>Écrit :
        <span class="language-rating">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star empty"></span>
          <span class="fas fa-star empty"></span>

          <span class="sr-only">3 sur 5</span>
        </span>

      </p>
      <p>
        Oral :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star empty"></span>

          <span class="sr-only">4 sur 5</span>
        </span>
      </p>
    </div>

    <div class="col">
      <h3>Espagnol</h3>

      <p>Écrit :
        <span class="language-rating">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star-half"></span>
          <span class="fas fa-star-half half"></span>
          <span class="fas fa-star empty"></span>

          <span class="sr-only">3.5 sur 5</span>
        </span>

      </p>
      <p>
        Oral :
        <span class="language-rating">

          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star-half"></span>
          <span class="fas fa-star-half half"></span>
          <span class="fas fa-star empty"></span>

          <span class="sr-only">3.5 sur 5</span>
        </span>
      </p>
    </div>
  </div>

  <ul>
    <li>
      <div class="row">
        <div class="col">
          <h3>
            Français
          </h3>
        </div>
        <div class="col">
            Écrit :
            <div>
              <span class="language-rating">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>    
              </span>
              (5 / 5)
            </div>
        </div>
        <div class="col">5</div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col">
            <h3>
              Anglais
            </h3>
        </div>
        <div class="col">5</div>
        <div class="col">5</div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col">
            <h3>
              Japonais
            </h3>
        </div>
        <div class="col">
          <p>Écrit :</p>
        </div>
        <div class="col">5</div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col">
            <h3>
              Espagnol
            </h3>
        </div>
        <div class="col">5</div>
        <div class="col">5</div>
      </div>
    </li>
  </ul>
</li>