<!-- <div class="darker-container"> -->
<div class="container padding">

  <a id="technologies" class="anchor">
    <h2>Technologies</h2>
  </a>
  <div class="moduleDescription">
    <p>
      Ici, vous trouverez toutes les technologies que j'ai déjà abordées, aussi bien au travail ou en 
      formation, que de mon temps libre. J'ai préféré ne pas me prononcer sur mon niveau, car il est 
      difficile d'estimer impartiallement ses compétences et de se placer au même niveau que son 
      interlocuteur.
    </p>
    <p>
      En cas de questions, n'hésitez pas à <a href="/contact">me contacter</a> !
    </p>
  </div>

  <div class="gridContainer">
    <div class="gridItem">
      <h3>Front</h3>
      <div class="skillContainer">
        <ul>
          <li>HTML 5</li>
          <li>CSS 3 / SASS</li>
          <li>JavaScript / jQuery</li>
          <li>TypeScript</li>
          <li>Intégration sur WordPress</li>
          <li>Bootstrap</li>
          <li>FontAwesome</li>
          <li>Swiper</li>
          <li>Chart.JS</li>
        </ul>
      </div>
    </div>
    <div class="gridItem">
      <h3>Back</h3>
      <div class="skillContainer">
        <ul>
          <li>PHP</li>
          <li>SQL / MySQL</li>
          <li>PHPMyAdmin</li>
        </ul>
      </div>
    </div>
    <div class="gridItem">
      <h3>Frameworks</h3>
      <div class="skillContainer">
        <ul>
          <li>Angular</li>
          <li>Ionic</li>
          <li>Symfony</li>
        </ul>
      </div>
      
    </div>
    <div class="gridItem">
      <h3>Autres</h3>
      <div class="skillContainer">
        <ul>
          <li>Git</li>
          <li>GitFlow</li>
          <li>Utilisation de WordPress</li>
          <li>Photoshop</li>
          <li>Avocode</li>
        </ul>
      </div>
    </div>

  </div>
</div>