@import'app/variables.scss';
body {
    background: $bodyBackground;
}
h1 {
    color: $primaryColorDarker;
    font-weight: 600;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Cabin', sans-serif;
}
h2 {
    color: #009432;
font-weight: 600;
font-size: 1.25rem;
}
a {
    color: green;
    font-weight: 600;
}

// surcharge de bootstrap
.btn-primary {
    background: $primaryColor;
    border-color: $primaryColor;
}

.btn-primary:hover {
    background: $primaryColorDarker;
    border-color: $primaryColorDarker;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 148, 50, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $primaryColorDarker;
    border-color: $primaryColorDarker;
}


.darker-container {
    // background-color: #a5a5a5;
    background-color: #c0c0c0;
}

.padding {
    padding-top: $generalPadding;
    padding-bottom: $generalPadding;
}

.anchor {
    padding-top: 5rem;
    margin-top: -5rem;
}