@import "src/app/variables.scss";
body {
  background: map-get($bgColors, 'body');
}
h1,
h2,
h4 {
  font-family: "Cabin", sans-serif;
}
h1,
h2 {
  color: map-get($bootstrapColors, 'primaryDarker');
  font-weight: 600;
  text-align: center;
  font-size: 2.2rem;
  // font-family: 'Cabin', sans-serif;
}
h2 {
  .underline::after {
    display: flex;
    content: '';
    height: 0.5rem;
    width: 100%;
    background: red;
  }
}
h3 {
  color: #009432;
  color: map-get($bootstrapColors, 'secondary');
  font-weight: 600;
  // font-size: 1.25rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 1.2rem 0;
}
h5 {
  text-align: center;
}
p:last-of-type {
  margin-bottom: 0;
}
main a {
  color: map-get($palette, 'mainDark');
  font-weight: 600;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: map-get($palette, 'mainDark');
    // font-style: italic;
  }
}

// surcharge de bootstrap
.btn-primary {
  background: map-get($bootstrapColors, 'primaryDarker');
  border-color: map-get($bootstrapColors, 'primaryDarker');

  &:hover,
  &:focus {
    background: map-get($bootstrapColors, 'secondary');
    border-color: map-get($bootstrapColors, 'secondary');
  }
}


.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 148, 50, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: map-get($bootstrapColors, 'primaryDarker');
  border-color: map-get($bootstrapColors, 'primaryDarker');
}

.darker-container {
  // background-color: #a5a5a5;
  // background-color: #c0c0c0;
  background-color: rgba(0, 0, 0, 0.05);
}

.padding {
  padding-top: map-get($spacing, 'general');
  padding-bottom: map-get($spacing, 'general');
}

.anchor {
  padding-top: 5rem;
  margin-top: -5rem;
}

.part {
  // background: #353535;
  // background: #212729;
  // color: #ededed;
  // bricolage lié à l'ajout de display: flex sur le <main> et les <app> qui ne prennent pas toute la largeur dispo
  // min-width: calc(100vw - 17px); 
  // max-width: 100vw; 

  width: 100%;
min-height: calc(100vh - #{map-get($sizes, 'minHeaderHeight')} - #{map-get($sizes, 'smallJumbotronHeight')} - #{map-get($sizes, 'minFooterHeight')});
height: 100%;
}

// réparation des bêtises de bootstrap
[type="button"]::-moz-focus-inner, 
[type="reset"]::-moz-focus-inner, 
[type="submit"]::-moz-focus-inner, 
button::-moz-focus-inner {
  border-style: dotted;
}


.moduleDescription {
  text-align: center;
}

app-contact,
app-about {
  width: 100%;
}

.background {
  z-index: 0;
  position: relative;

  // background-image: url("assets/img/andrew-coelho-215805-unsplash.jpg");
  // background-color: #2d3436;
  background: map-get($bgColors, 'page');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background-dimming {
  // background: rgba(0, 0, 0, 0.5);
  padding-top: map-get($spacing, 'partGap');
  padding-bottom: map-get($spacing, 'partGap');
}
.foreground {
  z-index: 1;
  position: relative;
  background: map-get($bgColors, 'body'); 
  // background: map-get($bgColors, 'partDark');
}
.margin-horizontal {
  margin-bottom: map-get($spacing, 'partGap');
}
.margin-vertical {
  margin-right: map-get($spacing, 'partGap');
}

app-portfolio, 
app-project {
  width: 100%;
  height: 100%;
}

app-home {
  min-height: calc(100vh - #{map-get($sizes, 'minHeaderHeight')} - #{map-get($sizes, 'bigJumbotronHeight')} - #{map-get($sizes, 'minFooterHeight')});
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-height: 1600px) {
  .part {
    min-height: calc(100vh - 3.2rem - 20vh);
  }
}
